.super-mario {
    position:absolute;
    width: 200px;
    z-index: ;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 400px;
    left: 50px;
  }
  
  .baloon {
  position: absolute;
  left: 350px;
  z-index: 2;
  }
  
  .speach {
    position: absolute;
    left: 370px;
    top: 120px;
    font-size: 25px;
    z-index: 3;
  }
  
  .bowser {
    position: absolute;
    left: 620px;
    top: 210px;
    width: 200px;
  }