.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    position: absolute;
    left: 340px;
    top: 230px;
    font-size: 25px;
  }
  
  .bowser {
    position: absolute;
    left: 620px;
    top: 310px;
    width: 200px;
  }